* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "AmadeusAP";
  src: url("../fonts/AmadeusAP.woff2") format("woff2"), url("../fonts/AmadeusAP.woff") format("woff"), url("../fonts/AmadeusAP.ttf") format("truetype"), url("../fonts/AmadeusAP.svg#AmadeusAP") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype"), url("../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v34-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin_cyrillic-regular.woff") format("woff"), url("../fonts/open-sans-v34-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/open-sans-v34-latin_cyrillic-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v34-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v34-latin_cyrillic-700.woff") format("woff"), url("../fonts/open-sans-v34-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/open-sans-v34-latin_cyrillic-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}
:root {
  --imcbl-send-bg-color: #E5E5EA;
  --imcbl-send-text-color: #171717;
  --imcbl-receive-bg-color: #0B93F6;
  --imcbl-receive-text-color: white;
  --imcbl-page-bg-color: #50565C;
  --animate-delay: 0.5s;
}

body {
  height: 100%;
  padding-top: 110px;
  background: #50565C;
  font-family: "SFPro", serif;
}
@media (max-width: 900px) {
  body {
    padding-top: 70px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 0 5px;
}

._container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.noScroll {
  overflow: hidden;
}

.yellow-button {
  padding: 0.35em 1.5em;
  background: -o-linear-gradient(355.57deg, #E99F10 10.06%, #FFBE40 91.18%);
  background: linear-gradient(94.43deg, #E99F10 10.06%, #FFBE40 91.18%);
  -webkit-box-shadow: 0px 0px 100px 3px rgba(222, 174, 81, 0.44), 0px 0.205em 0px 1px #926D24;
          box-shadow: 0px 0px 100px 3px rgba(222, 174, 81, 0.44), 0px 0.205em 0px 1px #926D24;
  border-radius: 0.7em;
  font-family: "SFPro";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 120.588235%; /* 41px/34 */
  color: #171717;
}

.header {
  height: 70vh;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: calc(-70vh + 80px);
  left: 0;
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0px 0px 25px 25px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.header__wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 100px;
  margin-bottom: -23px;
  -webkit-filter: drop-shadow(0px 4px 1.2px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 4px 1.2px rgba(0, 0, 0, 0.3));
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.header__logo:hover {
  fill: rgba(247, 245, 245, 0.7764705882);
}
.nav {
  position: relative;
  margin-top: -10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #F7F5F5;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}
.nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 1.35em;
  left: 0;
  height: 2px;
  width: 100%;
  background: #F7F5F5;
  -webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.nav a {
  color: inherit;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__list li {
  margin-right: 30px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.nav__list li:hover {
  -webkit-transform: translate(0, 1px);
      -ms-transform: translate(0, 1px);
          transform: translate(0, 1px);
  color: rgba(247, 245, 245, 0.8235294118);
}
.nav__list li:last-child {
  margin: 0;
}
.nav__link:hover {
  -webkit-transform: translate(-5px, 0);
      -ms-transform: translate(-5px, 0);
          transform: translate(-5px, 0);
}

.social__link {
  margin-right: 10px;
}
.social__item {
  height: 40px;
  -webkit-filter: drop-shadow(0px 4px 1.2px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 4px 1.2px rgba(0, 0, 0, 0.3));
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.social__item:hover {
  fill: rgba(247, 245, 245, 0.7764705882);
}

.burger-button {
  display: none;
}
.burger-button__field {
  padding: 10px;
  cursor: pointer;
}
.burger-button__span {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  background-color: #F7F5F5;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 1.2px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 4px 1.2px rgba(0, 0, 0, 0.3));
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.burger-button-active span {
  -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
}
.burger-button-active .burger-button__span:first-child {
  -webkit-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.burger-button-active .burger-button__span:nth-child(2) {
  opacity: 0;
}
.burger-button-active .burger-button__span:last-child {
  -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 900px) {
  .social {
    display: none;
  }
  .nav {
    display: none;
  }
  .header {
    top: calc(-70vh + 50px);
  }
  .header__logo {
    width: 63px;
    margin-bottom: -15px;
  }
  .burger-button {
    display: block;
  }
}
.header-open {
  top: 0;
  background: rgba(212, 211, 211, 0.35);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.header__open-menu {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -100px;
}
.header__open-menu .social {
  display: block;
}
.header__open-menu .nav {
  display: block;
}
.header__open-menu .header__logo-link {
  display: none;
}
.header__open-menu .burger-button {
  display: none;
}
.header__open-menu .nav {
  margin-bottom: 50px;
}
.header__open-menu .nav a {
  margin-right: 5px;
}
.header__open-menu .social a {
  margin-right: 70px;
}
.header__open-menu .social a:last-child {
  margin-right: 0;
}
@media (max-width: 530px) {
  .header__open-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: -70px;
  }
  .header__open-menu .nav {
    margin-bottom: 50px;
  }
  .header__open-menu .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__open-menu .nav__list li {
    margin-bottom: 30px;
  }
  .header__open-menu .nav::after {
    height: 100%;
    width: 2px;
    left: -0.65em;
    top: 0;
  }
  .header__open-menu .social a {
    margin-right: 15px;
  }
}

.intro__grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "chat di__img" "button di__img";
  height: calc(100vh - 150px);
}
.intro__chat {
  grid-area: chat;
}
.intro__button {
  grid-area: button;
  justify-self: center;
  align-self: center;
  margin: 20px;
}
.intro__yellow-button {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (min-width: 319px) {
  .intro__yellow-button {
    font-size: calc(1.0625rem + 17 * (100vw - 320px) / 1600);
    min-height: 0vw;
  }
}
@media (min-width: 1920px) {
  .intro__yellow-button {
    font-size: 34px;
  }
}
.intro__yellow-button:hover {
  -webkit-box-shadow: 0px 0px 100px 3px rgba(222, 175, 81, 0.766), 0px 0.205em 0px 1px #926D24;
          box-shadow: 0px 0px 100px 3px rgba(222, 175, 81, 0.766), 0px 0.205em 0px 1px #926D24;
}
.intro__yellow-button:active {
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 100px 3px rgba(222, 174, 81, 0.44), 0px 0px 0px 1px #926D24;
          box-shadow: 0px 0px 100px 3px rgba(222, 174, 81, 0.44), 0px 0px 0px 1px #926D24;
  -webkit-transform: translate(0, 7px);
      -ms-transform: translate(0, 7px);
          transform: translate(0, 7px);
}
.intro__di {
  position: relative;
  grid-area: di__img;
}

.chat {
  -ms-flex-item-align: center;
      align-self: center;
}
@media (min-width: 320px) {
  .chat p {
    font-size: calc(0.8125rem + 21 * (100vw - 320px) / 1600);
    min-height: 0vw;
  }
}
@media (min-width: 1920px) {
  .chat p {
    font-size: 34px;
  }
}
.chat__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.di {
  height: 100%;
}
.di__img {
  height: 100%;
}
.di__img img {
  display: block;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  -ms-flex-item-align: center;
      align-self: center;
}
.di__name-tag {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0.14em 8px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.14em 8px 1px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0.7em;
  padding: 0.4em 1.5em 0.25em 1.5em;
  font-family: "AmadeusAP";
  font-style: normal;
  font-weight: 400;
  min-height: 0vw;
  line-height: 90%;
  white-space: nowrap;
  color: #171717;
}
@media (min-width: 320px) {
  .di__name-tag {
    font-size: calc(1.0625rem + 53 * (100vw - 320px) / 1600);
    min-height: 0vw;
  }
}
@media (min-width: 1920px) {
  .di__name-tag {
    font-size: 70px;
  }
}

@media (orientation: portrait) {
  .intro__grid {
    height: auto;
  }
  .di__img img {
    width: 100%;
    height: auto;
  }
  .intro__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "chat di__img" "button button";
  }
}
@media (orientation: portrait) and (max-width: 1024px) and (min-width: 320px) {
  .di__name-tag {
    font-size: calc(1.0625rem + 37 * (100vw - 320px) / 704);
    min-height: 0vw;
  }
}
@media (orientation: portrait) and (max-width: 1024px) and (min-width: 1024px) {
  .di__name-tag {
    font-size: 54px;
  }
}
@media (orientation: portrait) and (max-width: 1024px) and (min-width: 319px) {
  .chat p {
    font-size: calc(0.6875rem + 16 * (100vw - 320px) / 704);
    min-height: 0vw;
  }
}
@media (orientation: portrait) and (max-width: 1024px) and (min-width: 1024px) {
  .chat p {
    font-size: 27px;
  }
}
@media (orientation: portrait) and (max-width: 1024px) and (min-width: 319px) {
  .intro__yellow-button {
    font-size: calc(0.9375rem + 25 * (100vw - 320px) / 704);
    min-height: 0vw;
  }
}
@media (orientation: portrait) and (max-width: 1024px) and (min-width: 1024px) {
  .intro__yellow-button {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .intro__container {
    padding: 0;
  }
  :root {
    --imcbl-bubble-max-width: 95%;
  }
}
.carusel-2, .carusel-3 {
  display: none;
}