.intro {
	&__container {}
	&__grid {
		display: grid;
		grid-auto-columns: 1fr; 
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: 1fr .5fr; 
		gap: 0px 0px;
		grid-template-areas: 
			"chat di__img"
			"button di__img"; 

		height: calc(100vh - 150px);
	}

	&__chat {
		grid-area: chat;
	}

	&__button {
		grid-area: button;

		justify-self: center;
		align-self: center;

		margin: 20px;
	}

	&__yellow-button {
		// Adaptive font-size
		@media (min-width: 319px) {
			font-size: calc(1.0625rem + (34 - 17) * ((100vw - 320px) / (1920 - 320)));
			min-height: 0vw;
		}
		
		@media (min-width: 1920px) {
			font-size: 34px;
		}

		transition: .3s ease-in-out;

		&:hover {
			box-shadow: 0px 0px 100px 3px rgba(222, 175, 81, 0.766), 0px .205em 0px 1px #926D24;
		}

		&:active {
			transition: .1s ease-in-out;

			box-shadow: 0px 0px 100px 3px rgba(222, 174, 81, 0.44), 0px 0px 0px 1px #926D24;
			
			transform: translate(0, 7px);
		}
	}

	&__di {
		position: relative;

		grid-area: di__img;
	}
}
._container {}
.chat {
	align-self: center;

	@media (min-width: 320px) {
		p {
			font-size: calc(0.8125rem + (34 - 13) * ((100vw - 320px) / (1920 - 320)));
			min-height: 0vw;
		}
	}
	@media (min-width: 1920px) {
		p {
			font-size: 34px;
		}
	}

	&__flex {
		display: flex;
		flex-direction: column;

		padding: 10px;
	}
}


.di {
	height: 100%;

	&__img {
		height: 100%;
		img {
			display: block;

			height: 100%;
			max-width: 100%;
			margin: 0 auto;

			// position: absolute;
			// top: 0;
			// left: 50%;

			// transform: translate(-50%, 0);

			object-fit: cover;
			object-position: right;

			align-self: center;
		}
	}
	&__name-tag {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 0;
		

		background: rgba(255, 255, 255, 0.4);
		box-shadow: 0 0.14em 8px 1px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(10px);

		border-radius: .7em;

		padding: .40em 1.5em .25em 1.5em;

		font-family: 'AmadeusAP';
		font-style: normal;
		font-weight: 400;
		// Adaptive font-size
		@media (min-width: 320px) {
			font-size: calc(1.0625rem + (70 - 17) * ((100vw - 320px) / (1920 - 320)));
			min-height: 0vw;
		}
		@media (min-width: 1920px) {
			font-size: 70px;
		}
		min-height: 0vw;
		line-height: 90%;
		white-space: nowrap;
		color: #171717;
	}
}

@media (orientation: portrait) {
	.intro__grid {
		height: auto;
	}

	.di__img {
		img {
			width: 100%;
			height: auto;
		}
	}

	.intro__grid {
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: 1fr .5fr; 
		grid-template-areas: 
			"chat di__img"
			"button button"; 
	}

	@media (max-width: 1024px) {
		// Adaptive name tag font size
		@media (min-width: 320px) {
			.di__name-tag {
				font-size: calc(1.0625rem + (54 - 17) * ((100vw - 320px) / (1024 - 320)));
				min-height: 0vw;
			}
		}
		@media (min-width: 1024px) {
			.di__name-tag {
				font-size: 54px;
			}
		}

		// Adaptive chat font size
		@media (min-width: 319px) {
			.chat p {
				font-size: calc(0.6875rem + (27 - 11) * ((100vw - 320px) / (1024 - 320)));
				min-height: 0vw;
			}
		}
		@media (min-width: 1024px) {
			.chat p {
				font-size: 27px;
			}
		}

		// Adaptive button font size
		@media (min-width: 319px) {
			.intro__yellow-button {
				font-size: calc(0.9375rem + (40 - 15) * ((100vw - 320px) / (1024 - 320)));
				min-height: 0vw;
			}
		}
		@media (min-width: 1024px) {
			.intro__yellow-button {
				font-size: 40px;
			}
		}
	}
}

@media (max-width: 425px) {
	.intro__container {
		padding: 0;
	}

	:root {
		--imcbl-bubble-max-width: 95%;
	}
}

